name: app-service

secrets:
  jwt_public_key:
    file: ../secrets/public_key.pem

services:
  app-frontend:
    container_name: app-frontend
    build:
      context: ./frontend/
      dockerfile: Dockerfile
      target: prod
    ports:
      - "3001:3001"
    depends_on:
      - app-backend
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.app-frontend.rule=Host(`app.digidex.bio`)"
      - "traefik.http.routers.app-frontend.rule=PathPrefix(`/plants`) || PathPrefix(`/_next`)"
      - "traefik.http.routers.app-frontend.entrypoints=web"
      - "traefik.http.routers.app-frontend.priority=100"
      - "traefik.http.services.app-frontend.loadbalancer.server.port=3001"

  app-backend:
    container_name: app-backend
    build:
      context: ./backend/
      dockerfile: Dockerfile
      target: prod
    networks:
      - digidex-net
    secrets:
      - jwt_public_key
    environment:
      - JWT_PUBLIC_KEY_PATH=/run/secrets/jwt_public_key
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.app-backend.rule=Host(`app.digidex.bio`)"
      - "traefik.http.routers.app-backend.rule=PathPrefix(`/api`)"
      - "traefik.http.routers.app-backend.entrypoints=web"
      - "traefik.http.routers.app-backend.priority=100"
      - "traefik.http.services.app-backend.loadbalancer.server.port=8003"

networks:
  digidex-net:
    external: true